<app-page-layout>
  <div *ngIf="isLoading" class="loader-wrap">
    <div class="loader spinner-border text-light" role="status"></div>
  </div>

  <div class="comp-container">
    <div class="title xl">User Management</div>


    <button class="create" (click)="createNewUser(userModal)">Create new user <i class="bi bi-plus-circle"></i></button>

    <div class="section table">
      <div class="table-container mt-lg-4">
        <div class="table-hdr">
          <div class="title">Users</div>
        </div>
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
          <tr>
            <ng-container *ngFor = 'let col of tableColumns'>
              <th [ngStyle]="{'width': col.colWidth}">{{col.label}}</th>
            </ng-container>
          </tr>
          </thead>

          <tbody>
          <ng-container *ngFor="let record of users; let i = index">
            <tr>
              <td>
                <span class="major">#{{record.id}}</span>
              </td>
              <td>
                <span class="major">{{record.first_name}}</span>
              </td>
              <td>
                <span>{{record.last_name}}</span>
              </td>
              <td>
                <span>{{record.phone}}</span>
              </td>
              <td>
                <span>{{record.role}}</span>
              </td>
              <td>
                <span (click)="editUser(userModal,record)" class="w-auto" style="cursor: pointer; font-size: 0.9rem;"><i class="bi bi-pen"></i></span>
              </td>
            </tr>
          </ng-container>

          </tbody>
        </table>

        <div class="d-flex justify-content-center align-items-center py-4" *ngIf="isFetchingRecords && users.length < 1">
          <span class="spinner-border text-primary" style="width: 1.5rem; height: 1.5rem;" role="status"></span>
        </div>
        <div *ngIf="!isFetchingRecords && users.length == 0" class="empty-state">No records were found</div>
      </div>
    </div>
  </div>

</app-page-layout>


<ng-template #userModal>
  <div class="action-modal">
    <div class="hdr">
      <div class="title">{{newEmployee ? 'Add' : 'Edit' }} User <span *ngIf="dataLoading" class="ps-1"> <span class="spinner-border text-primary" style="width: 1rem; height: 1rem;" role="status"></span> </span></div>
      <div class="close-btn" (click)="closeModal(userModal)"></div>
    </div>

    <div class="form-wrap">
      <form [formGroup]="employeeForm">
        <div *ngIf="!newEmployee" class="input-hld">
          <label class="form-label">Emplpoyee ID #</label>
          <input readonly type="text" class="form-control" formControlName="employeeId" placeholder="129382">
        </div>
        <div class="input-hld">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
        </div>
        <div class="input-hld">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
        </div>
        <div class="input-hld">
          <label class="form-label">Email</label>
          <input type="text" class="form-control lower" formControlName="email" placeholder="Email">
        </div>
        <div class="input-hld">
          <label class="form-label">Phone</label>
          <input type="text" class="form-control" formControlName="phone" placeholder="Phone No">
        </div>
        <div *ngIf="newEmployee" class="input-hld password">
          <label class="form-label">Password</label>
          <input id="password" type="password" class="form-control" formControlName="password" placeholder="*********">
          <i *ngIf="isPassVisible" (click)="togglePasswordVisibility('password'); isPassVisible=!isPassVisible" class=" bi bi-eye-slash"></i>
          <i *ngIf="!isPassVisible" (click)="togglePasswordVisibility('password');isPassVisible=!isPassVisible" class=" bi bi-eye"></i>
        </div>
        <div class="input-hld req">
          <div class="dropdown" dropdown>
            <label  class="form-label req">User Role</label>
            <input type="text" readonly formControlName="role"  dropdownToggle class="clear form-control arrDown dropdownToggle dropdownTrigger" data-bs-toggle="dropdown" placeholder="Select Painter" required>
            <span class="selectArrow"><i class="bi bi-chevron-down"></i></span>
            <div *dropdownMenu class="dropdown-menu w-100">
              <div class="option-wrap">
                <div *ngFor="let option of employeeRoles" class="option">
                  <span [ngClass]="{'active':employeeForm.value.role == 'option'}" (click)="setValue('role', option)">{{option}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="actions">
      <div (click)="newEmployee ? createUser() : updateInfo()"  class="btn full primary">{{newEmployee ? 'Create' : 'Update' }} user</div>
    </div>
  </div>
</ng-template>
